.pointContainer {
  width: 100%;
  padding-top: 32px;
  height: 100%;

  @media screen and (max-width: 832px) {
    width: 100%;
  }

  @media screen and (max-width: 450px) {
    padding-top: 40px;
  }

  .inputContainer {
    height: 51px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
      margin: 0 auto;
    }

    @media screen and (max-width: 450px) {
      max-width: 100%;
      gap: 20px;
      height: initial;
    }
  }

  .mapText {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-top: 45px;
    color: #121212;

    @media screen and (max-width: 450px) {
      text-align: center;
      margin-top: 30px;
    }
  }
}

.orderDetailsContainer {
  width: 320px;
  max-width: 320px;
  height: 100%;
  padding-top: 32px;
  padding-left: 32px;
  border-left: 1px solid #eee;

  @media screen and (max-width: 832px) {
    width: 100%;
    max-width: 100%;
    border: none;
    padding: 32px 0;
  }

  @media screen and (max-width: 500px) {
    padding: 32px 16px;
  }

  .orderDetailsTitle {
    text-align: right;
    margin-top: 0;

    @media screen and (max-width: 832px) {
      text-align: left;
    }
  }

  .orderDetailsItem {
    display: flex;
    align-items: flex-end;

    .orderDetailsItemTitle {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      margin: 0;
    }

    .orderDetailsItemDots {
      margin: 3px 12px;
      flex: 1;
      overflow: hidden;
      border: 1px dotted #999;
    }

    .orderDetailsItemContent {
      margin: 0;
      text-align: right;
      color: #999;
    }
  }

  .price {
    margin: 32px 0;
  }
}

.button {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 48px;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #0ec262 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;

  @media screen and (max-width: 450px) {
    width: 100%;
    height: 50px;
    border-radius: 10px;
  }

  &:hover,
  &:focus {
    color: #fff;
    background: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
  }

  &:active {
    color: #fff;
    background: linear-gradient(90deg, #076432 2.61%, #013c27 112.6%);
  }

  &:disabled {
    cursor: default;
    background: #eee;
  }
}
