@import "../../../vars.scss";

.label {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: $gray;
  /* stylelint-disable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* stylelint-enable */
  user-select: none;
  cursor: pointer;

  .checkmark {
    position: absolute;
    top: calc(50% - 6px);
    left: 0;
    height: 12px;
    width: 12px;
    background-color: $white;
    border: 1px solid $gray;

    /* Create the checkmark/indicator (hidden when not checked) */

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: -3px;
      width: 4px;
      height: 9px;
      border: solid $black-primary;
      border-width: 0 2px 2px 0;
      /* stylelint-disable */
      -webkit-transform: rotate(45deg) scale(0);
      -ms-transform: rotate(45deg) scale(0);
      /* stylelint-enable */
      transform: rotate(45deg) scale(0);
      transition: all 0.3s ease;
    }
  }

  .input {
    height: 0;
    width: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer;

    &:checked ~ .checkmark {
      border: 1px solid $green-primary;

      &::after {
         /* stylelint-disable */
        animation: check 0.2s linear;
        -webkit-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        /* stylelint-enable */
        transform: rotate(45deg) scale(1);
      }
    }
  }

  &:hover {
    .input ~ .checkmark {
      border: 1px solid $green-primary;
    }
  }
}

.selected {
  color: $black-primary;
}

@keyframes check {
  0% {
    transform: rotate(45deg) scale(0);
  }

  70% {
    transform: rotate(45deg) scale(1.2);
  }

  100% {
    transform: rotate(45deg) scale(1);
  }
}
