@import "../../../vars.scss";

.breadcrumbWrapper {
  position: absolute;
  width: calc(100% - 64px);
  height: 32px;
  border-top: 1px solid $lightgray;
  border-bottom: 1px solid $lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 96px;

  @media screen and (max-width: 768px) {
    width: calc(100% - 86px);
  }

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.orderId {
  width: inherit;
  max-width: 1248px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $black-primary;

  @media screen and (max-width: 1312px) {
    max-width: 1000px;
  }

  @media screen and (max-width: 1064px) {
    max-width: 768px;
  }

  @media screen and (max-width: 832px) {
    max-width: 588px;
  }

  @media screen and (max-width: 700px) {
    max-width: 400px;
  }

  @media screen and (max-width: 500px) {
    max-width: 356px;
  }

  @media screen and (max-width: 450px) {
    text-align: center;
    max-width: 100%;
  }
}

.breadcrumb {
  width: 100%;
  max-width: 1248px;

  @media screen and (max-width: 1312px) {
    max-width: 1000px;
  }

  @media screen and (max-width: 1064px) {
    max-width: 768px;
  }

  @media screen and (max-width: 832px) {
    max-width: 588px;
  }

  @media screen and (max-width: 700px) {
    max-width: 400px;
  }

  @media screen and (max-width: 500px) {
    max-width: 356px;
  }

  @media screen and (max-width: 340px) {
    padding-left: 10px;
  }
}

.link {
  text-decoration: none;
  color: $gray;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  transition: all 0.3s ease;
  cursor: default;

  @media screen and (max-width: 500px) {
    font-size: 12px;
  }

  @media screen and (max-width: 340px) {
    font-size: 10px;
  }
}

.completeLink {
  color: $black-primary;

  &:hover {
    color: $green-primary;
    cursor: pointer;
  }
}

.activeLink {
  color: $green-primary;

  &:hover {
    cursor: default;
  }
}

.lastLink {
  cursor: default;
}

.separator {
  display: inline-block;
  padding: 0 16px;

  @media screen and (max-width: 700px) {
    padding: 0 8px;
  }

  @media screen and (max-width: 340px) {
    padding: 0 4px;
  }
}
