@import "../../../vars.scss";

.aside {
  position: fixed;
  left: 0;
  width: 64px;
  height: 100vh;
  background-color: $black-second;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 86px;
  }

  @media screen and (max-width: 450px) {
    display: none;
  }
}

.langSwitcherDesktop {
  display: flex;

  @media screen and (max-width: 450px) {
    display: none;
  }
}
