@import "../../../vars.scss";

.button {
  text-decoration: none;
  color: $white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 48px;
  margin-top: 28px;
  transition: all 0.3s ease;
  background: $green-gradient;
  background-blend-mode: darken;
  border-radius: 8px;

  @media screen and (max-width: 450px) {
    width: 100%;
    height: 50px;
    border-radius: 10px;
  }

  &:hover {
    color: $white;
    background: $green-gradient_hover;
  }

  &:active {
    color: $white;
    background: $green-gradient_active;
  }

  &:disabled {
    cursor: default;
    background: $lightgray;
  }
}

.cancel {
  background: $red-gradient;

  &:hover {
    color: $white;
    background: $red-gradient_hover;
  }

  &:active {
    color: $white;
    background: $red-gradient_active;
  }
}
