@import "../../../vars.scss";

.container {
  position: absolute;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255 255 255 / 90%);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease;
}

.contentContainer {
  width: 405px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 32px 0;
  transform: scale(0);
  transition: all 0.5s ease;
}

.showModal {
  z-index: 100;
  opacity: 1;

  .contentContainer {
    transform: scale(1);
  }
}

.text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: $black-primary;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @media screen and (max-width: 450px) {
    flex-direction: column;
    align-items: center;
  }
}

.button {
  height: 48px;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $white;
  border-radius: 8px;
}

.submit {
  width: 177px;
  background: $green-gradient;
  background-blend-mode: darken;

  &:hover {
    background: $green-gradient_hover;
  }

  &:active {
    background: $green-gradient_active;
  }
}

.cancel {
  width: 164px;
  background: $red-gradient;

  &:hover {
    background: $red-gradient_hover;
  }

  &:active {
    background: $red-gradient_active;
  }
}
