.menuContainer {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  left: 0;
  z-index: 11;
  transform: translateY(-100%);
  transition: all 1s ease-in-out;
}

.navContainer {
  height: auto;
  width: calc((100% / 2) + 64px);
  background-color: #111518;
  position: relative;

  @media screen and (max-width: 1024px) {
    width: 615px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.nav {
  height: 268px;
  position: absolute;
  left: 128px;
  top: calc(50% - 100px);
  padding: 0;

  @media screen and (max-width: 768px) {
    top: 317px;
    left: 97px;
    height: 247px;
  }

  @media screen and (max-width: 450px) {
    top: 76px;
    left: 24px;
    height: 219px;
  }
}

.linkMenu {
  height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 768px) {
    height: 177px;
  }

  @media screen and (max-width: 450px) {
    height: 149px;
  }

  .link {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 768px) {
      font-size: 28px;
      line-height: 33px;
    }

    @media screen and (max-width: 450px) {
      font-size: 22px;
      line-height: 26px;
    }

    &:hover {
      color: #0ec261;
    }
  }
}

.mediaMenu {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 144px;
  padding: 0;
  margin: 0;

  .mediaLink {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;

    svg path {
      transition: all 0.3s ease;
    }

    &:hover,
    &:active,
    &:focus {
      svg path {
        fill: #0ec261;
      }
    }
  }
}

.activeMenu {
  transform: translateY(0);
}

.langSwitcherMobile {
  display: none;

  @media screen and (max-width: 450px) {
    display: flex;
  }
}

.transparent {
  height: 100%;
  width: calc((100% - 64px) / 2);
  background: rgb(21 27 31 / 81%);

  @media screen and (max-width: 1024px) {
    width: 410px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
