$green-primary: #0ec261;
$green-primary_opacity20: rgba(14 194 98 / 20%);
$black-primary: #121212;
$black-second: #151b1f;
$black-navbar: #111518;
$white: #fff;
$gray: #999;
$lightgray: #eee;
$green-gradient: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
$green-gradient_hover: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
$green-gradient_active: linear-gradient(90deg, #076432 2.61%, #013c27 112.6%);
$red-gradient: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
$red-gradient_hover: linear-gradient(90deg, #412b11 0%, #6e0a35 100%);
$red-gradient_active: linear-gradient(90deg, #3a260f 0%, #62092f 100%);

